# Dependency directories
node_modules/
__pycache__/

*.mp4
*.zip

# Environment variables (CRITICAL: Do not leak keys!)
.env

# Output folder (Do not commit massive 3D models or images)
output/*
!output/.gitkeep